h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
* {
  text-decoration: none;
}
ol,
ul,
li {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: currentColor;
  coursor: pointer;
}
body {
  font-family: 'roboto', 'sans-serif';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
button {
  all: unset;
  background: transparent;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}
img {
  display: block;
  width: 100%;
  box-sizing:;
}
.container {
  width: 1440px;
  padding-left: 156px;
  padding-right: 156px;
}
.header {
  background-color: #fff;
}
.header-nav {
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.logo-studio {
  color: #2e2f42;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.header-menu-list {
}
.header-menu-item {
}
.header-menu-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}
.header-adress {
}
.header-adress-list {
}
.header-adress-list-item {
}
.header-adress-list-link {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-adress-list-link:hover,
.header-adress-list-link:focus {
  color: #404bbf;
}
.hero-section {
  background-color: #2e2f42;
  width: 100%;
}
.main-headline {
  font-weight: 700;
  color: #fff;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.hero-button {
  width: 169px;
  background-color: #4d5ae5;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  border-radius: 4px;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
.about-us-section {
}
.about-us-headline {
}
.about-us-list {
}
.about-us-list-item {
}
.about-us-item-headline {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.about-us-item-text {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team-section {
  width: 1440px;
  background-color: #f4f4fd;
}
.team-section-headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
.team-section-list {
}
.team-list-item {
}
.team-picture {
}
.teammate-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.teammate-role {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-section {
}
.portfolio-headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
.portfolio-list {
}
.portfolio-list-item {
}
.portfolio-picture {
}
.portfolio-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-item-text {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-section {
  width: 1440px;
  background-color: #2e2f42;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.footer-logo-studio {
  font-family: 'Raleway', sans-serif;
  color: #f4f4fd;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.footer-text {
  color: #e7e9fc;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
